<!DOCTYPE html>
<head>
	<title>Healthbase</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
		{% if error %}
			<p class="error"><strong>Error: {{ error }}</p>
		{% endif %}

		{% block content %}
		{% endblock %}
	</div>
</body>
</html>